[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
#服务端编码
collation-server=utf8_unicode_ci
#设置连接字符集
init-connect='SET NAMES utf8'
#服务端字符集
character-set-server=utf8

log-bin=mysql-bin
#服务器ID
server-id=2
#表示同步的时候ignore的数据库
binlog-ignore-db=information_schema
binlog-ignore-db=cluster
binlog-ignore-db=mysql
#指定需要同步的数据库
binlog-do-db=ds0
binlog-do-db=ds1

#slave节点配置
log-slave-updates
slave-skip-errors=all
slave-net-timeout=60