<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szss.shardingjdbc.demo.dao.UserDAO">
    <insert id="insertUser" useGeneratedKeys="true">
        insert into t_user (username, password) values (#{user.username}, #{user.password})
    </insert>

    <select id="findById" resultType="com.szss.shardingjdbc.demo.domain.UserDO">
        select
            user_id as userId,
            username,
            password
        from t_user
        where user_id = #{id}
    </select>
</mapper>
